
* {
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0)!important;
    -webkit-tap-highlight-color: transparent!important;
}
.l-sidebar .l-h {
    grid-area: a;
    width: 100%;
    height: auto;
    position: static;
    float: none;
    clear: both;
}
body div[data-wnd_mvc_type="wnd.pc.PageZone"] * {
    transition: none;
}

.l-h, .l-m {
    width: 100%;
    margin: 0;
    padding: 0;
}
.l-h {
    grid-area: a;
}
.l-w *, body {
    box-sizing: border-box;
}
header {
    display: block;
}
.t-p-fw-l .t {
    font-weight: 300;
}
.t {
    letter-spacing: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.65;
    font-family: Merriweather,Merriweather-Fallback,serif;
    font-style: normal;
}
:root {
    --ac-color: #fff;
    --ac-color-h: 0;
    --ac-color-s: 0%;
    --ac-color-l: 100%;
    --ac-color-rgb: 255,255,255;
    --ac-acl: 0;
    --ac-acd: 0;
    --ac-basic: #000;
    --ac-basic-h: 0;
    --ac-basic-s: 0%;
    --ac-basic-l: 0%;
}
:root {
    --ac-bg-light: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * var(--ac-acl))));
    --ac-bg-dark: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * var(--ac-acd))));
    --ac-icon-outline-lbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -14)));
    --ac-icon-border-lbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 20)));
    --ac-icon-outline-dbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 34)));
    --ac-icon-border-dbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -22)));
}
html {
    width: 100%;
    height: 100%;
    -ms-overflow-style: scrollbar;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.cf:after, .cf:before {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf:after, .cf:before {
    content: "";
    display: table;
}
::selection {
    background-color: rgba(105,160,215,.4);
}
.s-hn.hm-hidden {
    position: relative!important;
}
.wnd-cms .s-hn {
    padding-top: 0;
}

.sc-w {
    color: #666;
}

.s-hn-sidebar {
    width: 100%;
    height: 4.625rem;
    overflow: visible!important;
}
.s-hn {
    z-index: 32;
    width: 100%;
    overflow: visible;
}
.s {
    position: relative;
}
.l-w *, body {
    box-sizing: border-box;
}


section {
    display: block;
}

.t-p-fw-l .t {
    font-weight: 300;
}
.t-p-fs-s .t {
    font-size: .875rem;
}
.l-m .s:last-child, .l-m .s:last-child .s-fs {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sc-w {
    color: #666;
}
.s-hc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.wnd-hh-auto {
    height: auto;
    min-height: 12.5rem;
}
.s {
    position: relative;
}
.l-w *, body {
    box-sizing: border-box;
}
.cf:after, .cf:before {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
.cf:after, .cf:before {
    content: "";
    display: table;
}

.sc-w {
    color: #666;
}
.wnd-h-auto {
    height: auto;
}
.s {
    position: relative;
}
.l-w *, body {
    box-sizing: border-box;
}
.sc-w {
    color: #666;
}
.wnd-p-cc .i-a {
    text-align: center;
}

.s-hc-button, .s-hc-claim {
    margin: 0;
}
.claim {
    line-height: 0;
}
.claim {
    letter-spacing: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.b-btn {
    text-align: center;
}
.b-s-b150 {
    padding-bottom: 0.9375rem;
}
.b-s-t150 {
    padding-top: 0.9375rem;
}
.b-s {
    padding: 0.625rem;
}
.b {
    padding: 0;
    margin: 0;
}
.t-btn-fw-l.t-p-fw-l .t .b-btn-l, .t-btn-fw-l.t-p-fw-l .t .wnd-replace-form-button {
    font-weight: 400;
}
.t-p-fs-s .t .b-btn-l, .t-p-fs-s .t .wnd-replace-form-button {
    font-size: .6875rem;
}
.sc-w .b-btn-2 .b-btn-l, .sc-w .b-btn-2 .wnd-replace-form-button, .sc-w.s-c .b-btn-2 .b-btn-l, .sc-w.s-c .b-btn-2 .wnd-replace-form-button {
    color: #393939;
    background-color: transparent;
    border-color: #9d9d9d;
}
.wnd-cms .b-btn .b-btn-l, .wnd-cms .b-btn .wnd-replace-form-button {
    cursor: default;
}
.t .b-btn-l, .t .wnd-replace-form-button {
    letter-spacing: .25em;
    line-height: 2;
    text-transform: uppercase;
    font-family: Josefin Sans Flex,Josefin-Sans-Flex-Fallback,sans-serif;
}

.b-btn-sq .b-btn-l, .b-btn-sq .wnd-replace-form-button {
    border-radius: 0;
}
.b-btn-bw-1 .b-btn-l, .b-btn-bw-1 .wnd-replace-form-button {
    border-width: 1px;
}
.b-btn-s-l .b-btn-l, .b-btn-s-l .wnd-replace-form-button {
    min-width: 100%;
    max-width: 100%;
    padding: 0.875rem 2rem;
}
.b-btn .b-btn-l, .b-btn .wnd-replace-form-button {
    transition: all .3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-style: solid;
}
.b-btn {
    text-align: center;
}
.wnd-wsw {
    position: relative;
    min-height: 1em;
    min-width: 1em;
    -webkit-user-select: auto!important;
    -webkit-tap-highlight-color: transparent;
    -webkit-nbsp-mode: inherit!important;
    outline: 0;
}
[contenteditable=true] {
    outline: 0;
}
.wnd-touchwysiwyg {
    display: block;
    outline: 0;
}
.wnd-wsw {
    position: relative;
    min-height: 1em;
    min-width: 1em;
    -webkit-user-select: auto!important;
    -webkit-tap-highlight-color: transparent;
    -webkit-nbsp-mode: inherit!important;
    outline: 0;
}
[contenteditable=true] {
    outline: 0;
}
.wnd-touchwysiwyg {
    display: block;
    outline: 0;
}
.l-w *, body {
    box-sizing: border-box;
}
span {
    -webkit-line-break: auto;
    line-break: auto;
}
* {
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0)!important;
    -webkit-tap-highlight-color: transparent!important;
}


:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

