
* {
    -webkit-tap-highlight-color: transparent;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0)!important;
    -webkit-tap-highlight-color: transparent!important;
}
.l-sidebar .l-h {
    grid-area: a;
    width: 100%;
    height: auto;
    position: static;
    float: none;
    clear: both;
}
body div[data-wnd_mvc_type="wnd.pc.PageZone"] * {
    transition: none;
}

.l-h, .l-m {
    width: 100%;
    margin: 0;
    padding: 0;
}
.l-h {
    grid-area: a;
}
.l-w *, body {
    box-sizing: border-box;
}
header {
    display: block;
}
.t-p-fw-l .t {
    font-weight: 300;
}
.t {
    letter-spacing: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.65;
    font-family: Merriweather,Merriweather-Fallback,serif;
    font-style: normal;
}
:root {
    --ac-color: #fff;
    --ac-color-h: 0;
    --ac-color-s: 0%;
    --ac-color-l: 100%;
    --ac-color-rgb: 255,255,255;
    --ac-acl: 0;
    --ac-acd: 0;
    --ac-basic: #000;
    --ac-basic-h: 0;
    --ac-basic-s: 0%;
    --ac-basic-l: 0%;
}
:root {
    --ac-bg-light: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * var(--ac-acl))));
    --ac-bg-dark: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * var(--ac-acd))));
    --ac-icon-outline-lbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -14)));
    --ac-icon-border-lbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 20)));
    --ac-icon-outline-dbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + ((100% - var(--ac-color-l)) / 100 * 34)));
    --ac-icon-border-dbg: hsl(var(--ac-color-h),var(--ac-color-s),calc(var(--ac-color-l) + (var(--ac-color-l) / 100 * -22)));
}
html {
    width: 100%;
    height: 100%;
    -ms-overflow-style: scrollbar;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.cf:after, .cf:before {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}
::selection {
    background-color: rgba(105,160,215,.4);
}
.s-hn.hm-hidden {
    position: relative!important;
}
.wnd-cms .s-hn {
    padding-top: 0;
}

.sc-w {
    color: #666;
}

.s-hn-sidebar {
    width: 100%;
    height: 4.625rem;
    overflow: visible!important;
}
.s-hn {
    z-index: 32;
    width: 100%;
    overflow: visible;
}
.s {
    position: relative;
}
section {
    display: block;
}

.t-p-fw-l .t {
    font-weight: 300;
}
.t-p-fs-s .t {
    font-size: .875rem;
}
.l-m .s:last-child, .l-m .s:last-child .s-fs {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.sc-w {
    color: #666;
}
.s-hc {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.wnd-hh-auto {
    height: auto;
    min-height: 12.5rem;
}
.s {
    position: relative;
}

.sc-w {
    color: #666;
}
.wnd-h-auto {
    height: auto;
}
.s {
    position: relative;
}
.sc-w {
    color: #666;
}
.wnd-p-cc .i-a {
    text-align: center;
}

.s-hc-button, .s-hc-claim {
    margin: 0;
}
.claim {
    line-height: 0;
}
.claim {
    letter-spacing: 0;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.b-btn {
    text-align: center;
}
.b-s-b150 {
    padding-bottom: 0.9375rem;
}
.b-s-t150 {
    padding-top: 0.9375rem;
}
.b-s {
    padding: 0.625rem;
}
.b {
    padding: 0;
    margin: 0;
}
.t-btn-fw-l.t-p-fw-l .t .b-btn-l, .t-btn-fw-l.t-p-fw-l .t .wnd-replace-form-button {
    font-weight: 400;
}
.t-p-fs-s .t .b-btn-l, .t-p-fs-s .t .wnd-replace-form-button {
    font-size: .6875rem;
}
.sc-w .b-btn-2 .b-btn-l, .sc-w .b-btn-2 .wnd-replace-form-button, .sc-w.s-c .b-btn-2 .b-btn-l, .sc-w.s-c .b-btn-2 .wnd-replace-form-button {
    color: #393939;
    background-color: transparent;
    border-color: #9d9d9d;
}
.wnd-cms .b-btn .b-btn-l, .wnd-cms .b-btn .wnd-replace-form-button {
    cursor: default;
}
.t .b-btn-l, .t .wnd-replace-form-button {
    letter-spacing: .25em;
    line-height: 2;
    text-transform: uppercase;
    font-family: Josefin Sans Flex,Josefin-Sans-Flex-Fallback,sans-serif;
}

.b-btn-sq .b-btn-l, .b-btn-sq .wnd-replace-form-button {
    border-radius: 0;
}
.b-btn-bw-1 .b-btn-l, .b-btn-bw-1 .wnd-replace-form-button {
    border-width: 1px;
}
.b-btn-s-l .b-btn-l, .b-btn-s-l .wnd-replace-form-button {
    min-width: 100%;
    max-width: 100%;
    padding: 0.875rem 2rem;
}
.b-btn .b-btn-l, .b-btn .wnd-replace-form-button {
    transition: all .3s;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-style: solid;
}

.wnd-wsw {
    position: relative;
    min-height: 1em;
    min-width: 1em;
    -webkit-user-select: auto!important;
    -webkit-tap-highlight-color: transparent;
    -webkit-nbsp-mode: inherit!important;
    outline: 0;
}
[contenteditable=true] {
    outline: 0;
}
.wnd-touchwysiwyg {
    display: block;
    outline: 0;
}
.wnd-wsw {
    position: relative;
    min-height: 1em;
    min-width: 1em;
    -webkit-user-select: auto!important;
    -webkit-tap-highlight-color: transparent;
    -webkit-nbsp-mode: inherit!important;
    outline: 0;
}
[contenteditable=true] {
    outline: 0;
}
span {
    -webkit-line-break: auto;
    line-break: auto;
}


:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}
.b-btn {
    text-align: center;
}
.s-hc-c, .s-hc-c-b {
    width: 100%;
}
.t .b-btn:not(.b-btn-5) .b-btn-l>.b-btn-t, .t .b-btn:not(.b-btn-5) .wnd-replace-form-button>.b-btn-t {
    position: relative;
}
.b-btn-bw-1 .b-btn-l .b-btn-t, .b-btn-bw-1 .wnd-replace-form-button .b-btn-t {
    text-decoration-thickness: 1px;
}
span[Attributes Style] {
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}
.claim .claim-46 {
    font-size: 1.75rem;
}
.claim-nb {
    line-height: 156%;
}
.cormorant {
    font-family: Cormorant Flex,Cormorant-Flex-Fallback,serif;
    font-weight: 400;
}
.sit, .sit-w {
    display: inline-block;
    max-width: 100%;
}
.sit {
    position: relative;
    padding: 0.3125rem;
    overflow: hidden;
}
.l-sidebar .wnd-w-wide .s-c {
    max-width: 88.75rem;
}
.s-hc .s-c, .s-hc .s-o, .s-hc .s-w {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}
.wnd-p-cc .s-c {
    justify-content: center;
    align-items: center;
}
.wnd-s-normal .s-c {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
.s-c {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
}
.l-sidebar .l-h .sw, .l-sidebar .l-h .sw-c {
    height: 100%;
}
.cz, .ez, .mz, .sw {
    padding: 0;
    margin: 0;
}
.l-sidebar .s-hn .s-w {
    height: 100%;
}
.s-hn .s-o, .s-hn .s-w {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: inherit;
}
.s-bg, .s-bg-l {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wnd-cms .s-hn .h-w {
    position: relative;
    z-index: auto;
}
.s-hn-sidebar .h-w {
    position: relative;
    z-index: auto;
}
.s-hn .h-w {
    transition: background .3s linear;
    width: 100%;
    background-color: transparent;
    z-index: 70;
}
.wnd-fixed {
    border-bottom: 0 solid transparent;
}
.s-hn-sidebar.s-hn .s-i {
    padding: 0;
    position: relative;
    overflow: visible;
}
.l-sidebar .l-h .s-i {
    padding: 0!important;
}
.s-hn-sidebar .s-i {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}
element.style {
    padding-bottom: 117px;
}
.s-hn-sidebar.s-hn .n-l {
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.s-hn .n-l, .s-hn .s-c {
    width: 100%;
    height: 100%;
}
.s-hn-sidebar.s-hn .s-c {
    margin: 0!important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
.s-hn .s-c {
    position: relative;
    padding: 0.3125rem 0;
    margin: 0!important;
}
.logo-sidebar .logo-block {
    width: 100%;
}
.logo-sidebar .b-l[class*=iar].logo-nb {
    margin-left: -0.3125rem;
}
.sc-w .logo-default {
    color: #393939;
}
.logo-classic .logo-15, .logo-classic .logo-17, .logo-classic .logo-21, .logo-sidebar .logo-15, .logo-sidebar .logo-17, .logo-sidebar .logo-21 {
    line-height: 1.6;
}
.logo.logo-15, .logo.logo-17, .logo.logo-21, .logo.logo-25, .logo.logo-28 {
    font-size: .95rem;
}
.b-l.cormorant, .b-l.open-sans {
    letter-spacing: .125rem;
}
.logo-sidebar .b-l {
    max-width: 15rem;
    overflow: hidden;
    margin-left: calc(-0.3125rem - 0.21em);
}
.logo-sidebar .b-l-c {
    display: table;
    padding: 0.125rem 0.3125rem;
}
.logo-sidebar .b-l-image {
    display: table-cell;
    vertical-align: middle;
    padding-right: 0.75rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.1875rem;
}
.logo-sidebar .b-l-text {
    display: table-cell;
    vertical-align: middle;
}
.logo-sidebar .b-l[class*=iar] .b-l-text-w {
    margin-left: -0.21em;
}
.logo .b-l-text-c {
    max-height: 2.9em;
}
.logo-sidebar .b-l-text-c {
    display: block;
    overflow: hidden;
    padding-left: 0.21em;
    padding-right: 0.21em;
}
.sc-w #menu-mobile {
    color: #393939;
}
#menu-mobile {
    display: none;
    pointer-events: all;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
}
.s-hn-sidebar .cart-block {
    display: block;
}
.sc-w.s-hn .cart {
    color: #666;
}
.t .cart {
    font-family: Josefin Sans Flex,Josefin-Sans-Flex-Fallback,sans-serif;
}
.s-hn .cart {
    position: relative;
    top: 0;
}
.s-hn .cart a {
    position: relative;
    display: block;
    text-decoration: none;
    line-height: 3.125rem;
    height: 3.125rem;
}
.s-hn .cart a div {
    float: left;
}
.s-hn .cart-content-link {
    height: 100%;
}
.s-hn .cart-text {
    display: none;
    position: relative;
}
.sc-w.s-hn .cart-piece-count {
    background: #393939;
    color: #fff;
}
.t .cart-piece-count {
    letter-spacing: normal;
}
.s-hn .cart-piece-count {
    transition: opacity .3s ease-in-out;
    font-size: .6875rem;
    line-height: 1;
    font-family: Montserrat Flex,Montserrat-Flex-Fallback,sans-serif;
    position: absolute;
    top: 1.375rem;
    left: auto;
    right: 0.3125rem;
    font-weight: 700;
    height: 1.125rem;
    min-width: 1.125rem;
    border-radius: 9px;
    padding: 0.25rem 0.25rem 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
}
.s-hn .cart-piece-text, .s-hn .cart-price {
    display: none;
}
.t .menu-font {
    font-family: Josefin Sans Flex,Josefin-Sans-Flex-Fallback,sans-serif;
}
#menu ul, #menu ul li {
    margin: 0;
    list-style: none;
}
#menu ul {
    padding: 0;
}
#menu ul li {
    position: relative;
}
.t ul.level-1>li {
    font-size: 0;
}
.t-nav-tt-n .t .cart-text span, .t-nav-tt-n .t .s-hn #menu ul.level-1>li>.menu-item>.menu-item-text, .t-nav-tt-n .t .search .search-bar-input, .t-nav-tt-n .t .search .search-icon-text {
    font-size: .8125rem;
}
.t-nav-tt-n .t .cart-text span, .t-nav-tt-n .t .s-hn ul.level-1>li>.menu-item>.menu-item-text, .t-nav-tt-n .t .search-bar-input, .t-nav-tt-n .t .search-icon-text {
    text-transform: none;
}
.more-text {
    display: none;
}

